html {
  height: 100%;
}
body {
  background-image: url("../images/424-house.jpg");
  height: 100%;
}

.heading-text {
  color: white;
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
}
.game-stage-heading {
  margin-top: 5px;
  color: black;
  /* font-weight: bold; */
  font-family: "Josefin Sans", sans-serif;
  font-size: 45px;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gray; */
}

.container {
  /* background-image: url("../images/cork_board.png"); */
  background-color: aquamarine;
  height: 90%;
}
.character-holder {
  width: 120px;
  padding-left: 15px;
  border: 4px solid green;
  padding-right: 15px;
  padding-bottom: 0px;
  background-color: beige;
  font-family: "Josefin Sans", sans-serif;
}

.character-image {
  border-radius: 45px;
  margin-bottom: 10px;
}

.enemy {
  border: 4px solid red;
}

.enemy:hover {
  background-color: firebrick;
}

.engaged-enemy {
  border: 4px solid black;
  background-color: firebrick;
}

.battle-ground button {
  margin: 4px;
  background-color: aqua;
}

#fight-description-holder {
  text-align: center;
  color: red;
}

.select-enemy-alert {
  background-color: yellow;
  color: red;
  font-weight: 900;
  padding-right: 10px;
  padding-left: 10px;
}

#crown {
  bottom: 135px;
}
