html {
  min-height: 800px;
}
body {
  background-image: url("../images/424-house.jpg");
  height: 100%;
}

.heading-text {
  color: white;
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
}
.game-stage-heading,
#main-heading-holder,
.section-header {
  margin-top: 5px;
  color: white;
  /* font-weight: bold; */
  font-family: "Josefin Sans", sans-serif;
  font-size: 45px;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gray; */
}

.container {
  /* background-image: url("../images/cork_board.png"); */
  background: rgb(2, 1, 15);
  background: linear-gradient(
    135deg,
    rgba(2, 1, 15, 0.9066001400560224) 7%,
    rgba(9, 121, 102, 1) 55%,
    rgba(0, 0, 0, 0.9009978991596639) 100%
  );
  height: 98%;
  padding: 15px;
  border: 5px solid white;
}
.character-holder {
  width: 120px;
  padding-left: 15px;
  border: 4px solid rgb(27, 44, 111);
  padding-right: 15px;
  padding-bottom: 0px;
  background-color: beige;
  font-family: "Josefin Sans", sans-serif;
}

.character-image {
  border-radius: 45px;
  margin-bottom: 10px;
}

.enemy {
  border: 4px solid rgb(140, 8, 8);
}

.enemy:hover {
  background-color: rgb(74, 9, 9);
  color: white;
}

.engaged-enemy {
  border: 4px solid black;
  background-color: firebrick;
}

.battle-ground button {
  margin: 4px;
  background-color: rgba(178, 34, 34, 0.8);
  border-radius: 10px;
  border: 3px solid black;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Bowlby One", cursive;
}

.battle-ground button:hover {
  opacity: 1;
  background-color: white;
  border: 5px solid red;
  color: firebrick;
}

#restart-button {
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid black;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background-color: yellow;
  color: red;
}

#restart-button:hover {
  background-color: red;
  color: yellow;
}

#fight-description-holder {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.select-enemy-alert {
  background-color: rgba(0, 238, 255, 0.488);
  color: rgb(161, 7, 7);
  padding: 3px;
  font-weight: 700;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Josefin Sans", sans-serif;
}

#crown {
  bottom: 135px;
}

#cross {
  bottom: 120px;
}
